.screen {
  height: auto;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: center;
  /* position: fixed; */
}

/* main box which contains all content  */
.contentBox {
  width: 75%;
  height: auto;
  box-shadow: 1px 2px 2px 2px #ccc;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.navbar {
  height: 100px;
  width: 75.7%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
  border-top: 4px solid #2791d4;
  background-color: white;
}


.navbarTitle {
  color: #bbbbbf;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 40%;
}

.navbarTitle span:hover {
  color: #2791d4;
  cursor: pointer;
}

.bannerBox {
  height: auto;
  width: 50%;
  background-color: #2791d4;
  position: absolute;
  top: 90%;
  left: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  border-radius: 10px;
}

.tagLine {
  color: #636469;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 1.1;
  font-size: 34px;
  margin-top: 100px;
}

.learnBlock {
  height: 350px;
  width: 100%;
  display: flex;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 1.1;
  font-size: 30px;
  text-transform: uppercase;
}

.vote {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #bbbbbf;
  font-size: 41px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-top: 1px solid #ccc;
  color: #2791d4;
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.aboutBox {
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin-top: 150px;
}

.aboutBox h1 {
  text-transform: uppercase;
  letter-spacing: .5rem;
  margin-left: 3rem;
  color: #2791d4;
}

.aboutBox span{
width: 100%;
margin-left: 4rem;
align-items: center;
color: #636469;
margin-top: 1rem;
font-size: larger;
letter-spacing: .2rem;
}